#MainPanel{
    -fx-background-color: linear-gradient(#191970 20%, #000000 100%);
}

#ControlPanel{
    -fx-background-color: #D2691E;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#buttonDraw {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

#buttonDraw:hover {
 -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#buttonDraw:pressed {
 -fx-background-color: linear-gradient(#2A5058, #2A5058);
}